
obj/Debug/netcoreapp3.0/ProjetoEscola_API.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/ProjetoEscola_API.dll
obj/Debug/netcoreapp3.0/ProjetoEscola_API.pdb
bin/Debug/netcoreapp3.0/ProjetoEscola_API.dll
bin/Debug/netcoreapp3.0/ProjetoEscola_API.pdb
obj/Debug/netcoreapp3.0/ProjetoEscola_API.pdb
obj/Debug/netcoreapp3.0/ProjetoEscola_API.dll
obj/Debug/netcoreapp3.0/ProjetoEscola_API.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.0/ProjetoEscola_API.dll
bin/Debug/netcoreapp3.0/ProjetoEscola_API.pdb
